/* General styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.home {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: black;
  color: white;
}

.home-content {
  position: absolute;
  top: 40px; /* Space from the top */
  left: 40px; /* Space from the left */
  width: calc(100% - 80px); /* Limit width with margins on both sides */
  display: flex;
  justify-content: space-between; /* Positions h1 on the left and p on the right */
  align-items: flex-start;
  padding: 0 20px;
  z-index: 10;
  transform-origin: center; /* Ensures the rotation happens around the center of the element */
  transition: transform 0.1s ease-out; /* Smooth transition for rotation */
}

.home-content h1 {
  font-size: 4rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  animation: fadeInUp 1.5s ease-out forwards;
}

.home-content p {
  font-size: 1.5rem;
  font-family: 'Arial', sans-serif;
  color: #ccc;
  text-align: right;
  position: absolute;
  top: 400px; /* Adjust the top to your liking */
  left: 60%; /* Center it horizontally */
  transform: translateX(50%); /* Offset it to the right to make it more centered */
  max-width: 300px;
  word-wrap: break-word;
  animation: fadeInUp 1.5s ease-out forwards;
}

/* Keyframes for fade-in animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20%) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
}

.section {
  padding: 100px 20px;
  text-align: center;
  width: 100%;
  max-width: 100vw;
  z-index: 10;
}

/* 3D Model container */
.threeDModel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

/* Mobile styles for responsiveness */
@media (max-width: 768px) {
  .home-content {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content p {
    font-size: 1.2rem;
    text-align: left;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .home-content h1 {
    font-size: 2rem;
    top: 10px;
    left: 10px;
  }
}
